# Build Outputs
build/
bin/
obj/

# Compiled Objects and Libraries
*.o
*.obj
*.d
*.a
*.so
*.dylib
*.dll
*.exe

# Executables
tCube

# Language Server & Compiler DB
compile_commands.json
.cache/
.clangd/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS and Log files
*.log
core
core.*
